<!DOCTYPE html>
<html lang="en"
      th:attr="lang = ${#locale.language}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/layout :: head(#{error.404.title})">
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css"/>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.css"/>
        <link rel="stylesheet" href="../../../css/lib/bootstrap-tagsinput.css"/>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"/>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.5.0/summernote.css"/>
        <link rel="stylesheet" href="../../../css/styles.css"/>

        <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
        <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
        <script type="text/javascript" src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.5.0/summernote.js"></script>
        <script type="text/javascript" src="../../../js/lib/bootstrap-tagsinput.min.js"></script>

        <title>Not Found &#8211; Cookbook</title>
    </head>
    <body>
        <div id="page-wrapper" class="page">
            <div th:replace="layout/layout :: header" id="header">
                <div class="navbar navbar-inverse" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <a class="navbar-brand" href="list.html">Cookbook</a>
                        </div>
                        <div class="collapse navbar-collapse">
                            <ul id="navigation" class="nav navbar-nav">
                                <li>
                                    <a href="list.html">Recipes</a>
                                </li>
                            </ul>

                            <a href="create.html" class="btn btn-primary navbar-btn">Create</a>

                            <ul id="header-user-menu" class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="#"
                                       class="dropdown-toggle"
                                       data-toggle="dropdown"
                                       title="Demo user">
                                        <span class="glyphicon glyphicon-user"></span>
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li role="presentation" class="dropdown-header">Demo user</li>
                                        <li role="presentation" class="divider"></li>
                                        <li>
                                            <a href="../login/login.html">Sign Out</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div id="content" tabindex="-1">
                <div class="container">
                    <div id="message-container">
                    </div>

                    <div id="view-container">

                        <div class="page-header">
                            <h1 class="page-title" th:text="#{error.404.title}">Not Found</h1>
                        </div>

                        <p th:text="#{error.404.description}">Sorry, the requested page could not be found.</p>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="layout/layout :: footer"
             id="footer"
             class="text-center text-muted">
            <p>Cookbook 0.1.0-PROTOTYPE</p>
        </div>
    </body>
</html>
