@charset "utf-8";

/* Styles for typeahead.js */

.tt-hint {
    display: none;
}
.tt-dropdown-menu {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    float: left;
    font-size: 14px;
    left: 0;
    list-style: none outside none;
    margin: 2px 0 0;
    min-width: 260px;
    padding: 5px 0;
    position: absolute;
    top: 100%;
    z-index: 1000;
}
.tt-suggestion {
    clear: both;
    color: #333333;
    font-weight: 400;
    line-height: 1.42857;
    padding: 3px 20px;
    white-space: nowrap;
    cursor: pointer;
}
.tt-suggestion.tt-cursor {
    background-color: #F5F5F5;
    color: #262626;
    text-decoration: none;
}
.tt-suggestion p {
    margin: 0;
}

/* Styles for Bootstrap Tags Input */

.bootstrap-tagsinput {
    min-height: 34px;
    height: auto;
}

.bootstrap-tagsinput .tag [data-role="remove"]:after {
    content: "×";
    font-size: 1.4em;
    vertical-align: middle;
}

/* Styles for Cookbook */

body {
    background-color: #eeeeee;
}

#page-wrapper {
    background-color: #ffffff;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #cccccc;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

#recipe-actions {
    margin-bottom: 20px;
}

.form-buttons {
    margin-top: 20px;
}

#header .navbar {
    border-radius: 0;
}

#recipes-search-field {
    margin-bottom: 15px;
}

.recipe-list-group {
    padding-left: 0;
}

.recipe-list-item {
    border-left-style: none;
    border-right-style: none;
}

.recipe-list-item p {
    margin-bottom: 0;
}

/* A quick fix to prevent the highlighter from highlighting the label */
.suggestion-new-label strong {
    font-weight: inherit;
}

.alert > dl {
    margin-bottom: 0;
}

#header-user-menu .glyphicon-user {
    font-size: 20px;
    line-height: 14px;
    vertical-align: text-top;
}

.note-editable {
    min-height: 200px;
}
