// Bootstrap Flexbox
$enable-flex: true;

$fa-font-path: "../bower_components/fontawesome/fonts";

@import "../../../app/bower_components/bootstrap/scss/bootstrap";
@import "../../../app/bower_components/fontawesome/scss/font-awesome";

@import "sign-in";

body {
  background-color: #eeeeee;
}

.page-wrapper {
  padding-top: 5rem;
  background-color: #ffffff;
  padding-bottom: 2em;
  border-bottom: 1px solid #cccccc;
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

a.card {
  color: $gray-dark;
  text-align: inherit;

  @include hover-focus {
    color: inherit;
    text-decoration: none;
    background-color: $list-group-hover-bg;
  }
}

.required {
  .form-control-label:after {
    content: '*';
    margin-left: 0.2em;
    font-weight: bold;
    color: $brand-primary;
  }
}

.has-danger {
  .form-control-label:after {
    color: $brand-danger;
  }
}
