<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <title>Accessibility Fragments</title>
    </head>
    <body>
        <a th:fragment="skip-to-main-content"
           href="#content"
           class="sr-only sr-only-focusable"
           th:text="#{sr.skipToMainContent}">
                Skip to main content
        </a>
    </body>
</html>
