<!DOCTYPE html>
<html lang="en"
      th:attr="lang = ${#locale.language}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/layout :: head(#{recipe.create.title})">
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css"/>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.css"/>
        <link rel="stylesheet" href="../../../css/lib/bootstrap-tagsinput.css"/>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"/>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.5.0/summernote.css"/>
        <link rel="stylesheet" href="../../../css/styles.css"/>

        <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
        <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
        <script type="text/javascript" src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.5.0/summernote.js"></script>
        <script type="text/javascript" src="../../../js/lib/bootstrap-tagsinput.min.js"></script>

        <meta name="predefined-labels-url" content="../../../js/predefined-labels.json"/>

        <title>Create Recipe &#8211; Cookbook</title>
    </head>

    <body>
        <div th:replace="fragments/accessibility :: skip-to-main-content"></div>

        <div id="page-wrapper" class="page">
            <div th:replace="layout/layout :: header" id="header">
                <div class="navbar navbar-inverse" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <a class="navbar-brand" href="list.html">Cookbook</a>
                        </div>
                        <div class="collapse navbar-collapse">
                            <ul id="navigation" class="nav navbar-nav">
                                <li>
                                    <a href="list.html">Recipes</a>
                                </li>
                            </ul>

                            <a href="create.html" class="btn btn-primary navbar-btn">Create</a>

                            <ul id="header-user-menu" class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="#"
                                       class="dropdown-toggle"
                                       data-toggle="dropdown"
                                       title="Demo user">
                                        <span class="glyphicon glyphicon-user"></span>
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li role="presentation" class="dropdown-header">Demo user</li>
                                        <li role="presentation" class="divider"></li>
                                        <li>
                                            <a href="../login/login.html">Log Out</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div id="content" tabindex="-1">
                <div class="container">
                    <div id="message-container">
                    </div>

                    <div id="view-container">

                        <ol class="breadcrumb">
                            <li><a href="#"
                                   th:href="@{/}"
                                   th:text="#{recipe.list.title}">Recipes</a></li>
                            <li class="active" th:text="#{recipe.create.breadcrumb.label}">Create</li>
                        </ol>

                        <div class="page-header">
                            <h1 class="page-title" th:text="#{recipe.create.title}">Create Recipe</h1>
                        </div>

                        <form id="recipe"
                              class="form-horizontal"
                              action="view.html"
                              th:action="@{/recipe/create}"
                              th:object="${recipe}"
                              method="POST"
                              accept-charset="UTF-8">
                            <input id="recipe-id" type="hidden" th:field="*{id}"/>

                            <div id="control-group-name" class="form-group">
                                <label class="col-sm-2 control-label"
                                       for="recipe-name"
                                       th:text="#{recipe.edit.name.label}">
                                    Name:
                                </label>

                                <div class="col-sm-10">
                                    <input class="form-control"
                                           id="recipe-name"
                                           type="text"
                                           th:field="*{name}"/>
                                    <span class="error-message help-block"
                                       th:if="${#fields.hasErrors('name')}"
                                       th:errors="*{name}">
                                        Please enter the name of the recipe.
                                    </span>
                                </div>
                            </div>

                            <div id="control-group-summary" class="form-group">
                                <label class="col-sm-2 control-label"
                                       for="recipe-summary"
                                       th:text="#{recipe.edit.summary.label}">
                                    Summary:
                                </label>

                                <div class="col-sm-10">
                                    <textarea class="form-control"
                                              id="recipe-summary"
                                              th:field="*{summary}"></textarea>
                                    <span class="error-message help-block"
                                       th:if="${#fields.hasErrors('summary')}"
                                       th:errors="*{summary}">
                                        Invalid or missing value.
                                    </span>
                                </div>
                            </div>

                            <div id="control-group-yield" class="form-group">
                                <label class="col-sm-2 control-label"
                                       for="recipe-yield"
                                       th:text="#{recipe.edit.yield.label}">
                                    Yield:
                                </label>

                                <div class="col-sm-10">
                                    <input class="form-control"
                                           id="recipe-yield"
                                           type="text"
                                           th:field="*{yield}"/>
                                    <span class="error-message help-block"
                                       th:if="${#fields.hasErrors('yield')}"
                                       th:errors="*{yield}">
                                        Invalid or missing value.
                                    </span>
                                </div>
                            </div>

                            <div id="control-group-authors" class="form-group">
                                <label class="col-sm-2 control-label"
                                       for="recipe-authors"
                                       th:text="#{recipe.edit.authors.label}">
                                    Original Author(s):
                                </label>

                                <div class="col-sm-10">
                                    <textarea class="form-control"
                                              id="recipe-authors"
                                              th:field="*{authors}"></textarea>
                                    <span class="error-message help-block"
                                       th:if="${#fields.hasErrors('authors')}"
                                       th:errors="*{authors}">
                                        Invalid or missing value.
                                    </span>
                                    <span class="help-block"
                                          th:text="#{recipe.edit.authors.help.message}">
                                        Please enter authors each on a separate line.
                                    </span>
                                </div>
                            </div>

                            <div id="control-group-labels" class="form-group">
                                <label class="col-sm-2 control-label"
                                       for="recipe-labels"
                                       th:text="#{recipe.edit.labels.label}">
                                    Labels:
                                </label>

                                <div class="col-sm-10">
                                    <input class="form-control"
                                           id="recipe-labels"
                                           type="text"
                                           th:field="*{labels}"/>
                                    <span class="error-message help-block"
                                       th:if="${#fields.hasErrors('labels')}"
                                       th:errors="*{labels}">
                                        Invalid or missing value.
                                    </span>
                                </div>
                            </div>

                            <div id="control-group-instructions" class="form-group">
                                <label class="col-sm-2 control-label"
                                       for="recipe-instructions"
                                       th:text="#{recipe.edit.instructions.label}">
                                    Instructions:
                                </label>

                                <div class="col-sm-10">
                                    <textarea class="form-control"
                                              id="recipe-instructions"
                                              rows="20"
                                              th:field="*{instructions}"></textarea>
                                    <span class="error-message help-block"
                                       th:if="${#fields.hasErrors('instructions')}"
                                       th:errors="*{instructions}">
                                        Invalid or missing value.
                                    </span>
                                </div>
                            </div>

                            <div class="form-buttons form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button id="submit-recipe-button"
                                            type="submit"
                                            class="btn btn-default"
                                            th:text="#{recipe.create.submitButton.label}">Create</button>
                                    <a href="list.html"
                                       th:href="@{/}"
                                       id="cancel-recipe-button"
                                       class="btn  btn-link"
                                       th:text="#{cancelButton.label}">Cancel</a>
                                </div>
                            </div>
                        </form>
                        <script id="template-new-label-suggestion" type="text/x-handlebars-template">
                            {{item.label}} <span class="suggestion-new-label text-muted">(New Label)</span>
                        </script>

                    </div>
                </div>
            </div>
        </div>

        <div th:replace="layout/layout :: footer"
             id="footer"
             class="text-center text-muted">
            <p>Cookbook 0.1.0-PROTOTYPE</p>
        </div>

        <script type="text/javascript"
                src="../../../js/widgets/form.js"
                th:src="@{/js/widgets/form.js}"></script>
        <script type="text/javascript"
                src="../../../js/widgets/labelsinput.js"
                th:src="@{/js/widgets/labelsinput.js}"></script>
        <script type="text/javascript"
                src="../../../js/recipe/edit.js"
                th:src="@{/js/recipe/edit.js}"></script>
    </body>
</html>
