<!DOCTYPE html>
<html lang="en"
      th:attr="lang = ${#locale.language}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/layout :: head(#{recipe.list.title})">
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css"/>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.css"/>
        <link rel="stylesheet" href="../../../css/lib/bootstrap-tagsinput.css"/>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"/>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.5.0/summernote.css"/>
        <link rel="stylesheet" href="../../../css/styles.css"/>

        <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
        <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
        <script type="text/javascript" src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.5.0/summernote.js"></script>
        <script type="text/javascript" src="../../../js/lib/bootstrap-tagsinput.min.js"></script>

        <title>Recipes &#8211; Cookbook</title>
    </head>
    <body>
        <div th:replace="fragments/accessibility :: skip-to-main-content"></div>

        <div id="page-wrapper" class="page">
            <div th:replace="layout/layout :: header" id="header">
                <div class="navbar navbar-inverse" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <a class="navbar-brand" href="list.html">Cookbook</a>
                        </div>
                        <div class="collapse navbar-collapse">
                            <ul id="navigation" class="nav navbar-nav">
                                <li>
                                    <a href="list.html">Recipes</a>
                                </li>
                            </ul>

                            <a href="create.html" class="btn btn-primary navbar-btn">Create</a>

                            <ul id="header-user-menu" class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="#"
                                       class="dropdown-toggle"
                                       data-toggle="dropdown"
                                       title="Demo user">
                                        <span class="glyphicon glyphicon-user"></span>
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li role="presentation" class="dropdown-header">Demo user</li>
                                        <li role="presentation" class="divider"></li>
                                        <li>
                                            <a href="../login/login.html">Sign Out</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div id="content" tabindex="-1">
                <div class="container">
                    <div id="message-container">
                    </div>

                    <div id="view-container">

                        <div class="page-header">
                            <h1 class="page-title" th:text="#{recipe.list.title}">Recipes</h1>
                        </div>

                        <div id="recipes-search-field" class="input-group">
                            <input type="text"
                                   placeholder="Search"
                                   th:placeholder="#{recipe.list.searchField.placeholder}"
                                   class="form-control search-input"/>
                            <span class="input-group-btn">
                                <button class="btn btn-default search-button"
                                        type="button"
                                        data-toggle="tooltip"
                                        data-placement="bottom"
                                        title="Search for recipes"
                                        th:title="#{recipe.list.searchButton.title}">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>

                        <div id="recipe-list">
                            <p th:if="${#lists.isEmpty(recipes)}"
                               th:text="#{recipe.list.noRecipesFound.label}">No recipes were found.</p>

                            <div class="recipe-list-group"
                                 th:unless="${#lists.isEmpty(recipes)}"
                                 th:remove="all-but-first">
                                <a th:each="recipe: ${recipes}"
                                   href="#"
                                   th:href="@{/recipe/{recipeId}(recipeId = ${recipe.id})}"
                                   class="recipe-list-item list-group-item">
                                    <h4 class="list-group-item-heading" th:text="${recipe.name}">Biscuits</h4>

                                    <p class="recipe-summary"
                                       th:text="${recipe.summary}"
                                       th:if="${recipe.summary}">These biscuits are tall, light, and flaky. They are less salty than many bought mixes. They taste good plain or with butter, honey, jam, or sausage/ham gravy.</p>

                                    <div class="recipe-labels"
                                         th:remove="all-but-first">
                                        <span class="label label-default"
                                              th:each="label: ${recipe.labels}"
                                              th:text="${label}">bread</span>
                                        <span class="label label-default">breakfast</span>
                                    </div>
                                </a>
                                <a href="#" class="recipe-list-item list-group-item">
                                    <h4 class="list-group-item-heading">Coq au Vin</h4>

                                    <p>Many French regions claim coq au vin, or chicken stew, as their own, but legend has it that the recipe originated with Caesar&#039;s chef. Different variants exist throughout the country; the following recipe is one.</p>

                                    <div class="recipe-labels">
                                        <span class="label label-default">chicken</span>
                                        <span class="label label-default">french</span>
                                        <span class="label label-default">gluten-free</span>
                                        <span class="label label-default">stew</span>
                                    </div>
                                </a>
                                <a href="#" class="recipe-list-item list-group-item">
                                    <h4 class="list-group-item-heading">Crème Brûlée</h4>

                                    <p>These instructions should provide a crackly crust over a cold custard, balanced in sweetness, egg and cream content. Few can resist its light, silky texture. The procedure is due to Dawn Yanagihara.</p>

                                    <div class="recipe-labels">
                                        <span class="label label-default">dessert</span>
                                        <span class="label label-default">gluten-free</span>
                                        <span class="label label-default">pudding-and-custard</span>
                                    </div>
                                </a>
                                <a href="#" class="recipe-list-item list-group-item">
                                    <h4 class="list-group-item-heading">Cupcakes</h4>

                                    <p>Cupcakes are small cakes placed in cake cases.</p>

                                    <div class="recipe-labels">
                                        <span class="label label-default">cake</span>
                                    </div>
                                </a>
                                <a href="#" class="recipe-list-item list-group-item">
                                    <h4 class="list-group-item-heading">Ratatouille</h4>

                                    <p>Ratatouille is a traditional Provençale stewed vegetable dish that can be served as a meal on its own, accompanied by rice, potatoes or French bread, or as a side dish. It can be served hot or cold.</p>

                                    <div class="recipe-labels">
                                        <span class="label label-default">eggplant</span>
                                        <span class="label label-default">french</span>
                                        <span class="label label-default">tomato</span>
                                        <span class="label label-default">vegan</span>
                                        <span class="label label-default">vegetables</span>
                                        <span class="label label-default">zucchini</span>
                                    </div>
                                </a>
                                <a href="#" class="recipe-list-item list-group-item">
                                    <h4 class="list-group-item-heading">Swedish Meatballs</h4>

                                    <p>All recipes are based on the following basic, or minimum, recipe for Swedish meatballs.</p>

                                    <div class="recipe-labels">
                                        <span class="label label-default">beef</span>
                                        <span class="label label-default">swedish</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="layout/layout :: footer"
             id="footer"
             class="text-center text-muted">
            <p>Cookbook 0.1.0-PROTOTYPE</p>
        </div>

        <script type="text/javascript"
                src="../../../js/widgets/search-result-list.js"
                th:src="@{/js/widgets/search-result-list.js}"></script>
        <script type="text/javascript"
                src="../../../js/widgets/search.js"
                th:src="@{/js/widgets/search.js}"></script>
        <script type="text/javascript"
                th:src="@{/js/recipe/list.js}"></script>
    </body>
</html>
