<!DOCTYPE html>
<html lang="en"
      th:attr="lang = ${#locale.language}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/layout :: head(${recipe.name})">
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css"/>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.css"/>
        <link rel="stylesheet" href="../../../css/lib/bootstrap-tagsinput.css"/>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"/>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.5.0/summernote.css"/>
        <link rel="stylesheet" href="../../../css/styles.css"/>

        <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
        <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
        <script type="text/javascript" src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.5.0/summernote.js"></script>
        <script type="text/javascript" src="../../../js/lib/bootstrap-tagsinput.min.js"></script>

        <meta name="recipe-id" content="1"/>

        <title>Crème Brûlée &#8211; Cookbook</title>
    </head>

    <body>
        <div th:replace="fragments/accessibility :: skip-to-main-content"></div>

        <div id="page-wrapper" class="page">
            <div th:replace="layout/layout :: header" id="header">
                <div class="navbar navbar-inverse" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <a class="navbar-brand" href="list.html">Cookbook</a>
                        </div>
                        <div class="collapse navbar-collapse">
                            <ul id="navigation" class="nav navbar-nav">
                                <li>
                                    <a href="list.html">Recipes</a>
                                </li>
                            </ul>

                            <a href="create.html" class="btn btn-primary navbar-btn">Create</a>

                            <ul id="header-user-menu" class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="#"
                                       class="dropdown-toggle"
                                       data-toggle="dropdown"
                                       title="Demo user">
                                        <span class="glyphicon glyphicon-user"></span>
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li role="presentation" class="dropdown-header">Demo user</li>
                                        <li role="presentation" class="divider"></li>
                                        <li>
                                            <a href="../login/login.html">Log Out</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div id="content" tabindex="-1">
                <div class="container">
                    <div id="message-container">
                    </div>

                    <div id="view-container">

                        <ol class="breadcrumb">
                            <li><a href="#"
                                   th:href="@{/}"
                                   th:text="#{recipe.list.title}">Recipes</a></li>
                            <li class="active" th:text="${recipe.name}">Crème Brûlée</li>
                        </ol>

                        <div class="page-header">
                            <div id="recipe-actions" class="btn-group pull-right">
                                <a href="#"
                                   th:href="@{/recipe/edit/{recipeId}(recipeId = ${recipe.id})}"
                                   id="edit-recipe-button"
                                   class="btn btn-default">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    <th:block th:text="#{recipe.view.editButton.label}">Edit</th:block>
                                </a>
                                <button type="button"
                                        id="delete-recipe-button"
                                        class="btn btn-default"
                                        th:text="#{recipe.view.deleteButton.label}">Delete</button>
                            </div>

                            <h1 class="page-title" th:text="${recipe.name}">Crème Brûlée</h1>

                            <ul class="list-inline text-muted">
                                <li th:if="${recipe.creator}"
                                    th:text="#{meta.created(${recipe.created}, ${recipe.creator.name})}">
                                    Created 07-Oct-2014 22:00 by Demo user
                                </li>
                                <li th:unless="${recipe.creator}"
                                    th:text="#{meta.createdByAnonymous(${recipe.created})}">
                                    Created 07-Oct-2014 22:00
                                </li>
                                <li th:if="${recipe.modified} and ${recipe.modifier}"
                                    th:text="#{meta.modified(${recipe.modified}, ${recipe.modifier.name})}">
                                    Last modified 07-Oct-2014 22:03 by Demo user
                                </li>
                                <li th:if="${recipe.modified} and !${recipe.modifier}"
                                    th:text="#{meta.modifiedByAnonymous(${recipe.modified})}">
                                    Last modified 07-Oct-2014 22:03
                                </li>
                            </ul>
                        </div>

                        <p class="lead recipe-summary"
                           th:if="${recipe.summary}"
                           th:text="${recipe.summary}">These instructions should provide a crackly crust over a cold custard, balanced in sweetness, egg and cream content. Few can resist its light, silky texture. The procedure is due to Dawn Yanagihara.</p>

                        <p class="recipe-yield"
                           th:if="${recipe.yield}"
                           th:text="${recipe.yield}">Serves 12.</p>

                        <div class="recipe-instructions"
                             th:utext="${recipe.instructions}"><p>Integer elementum vulputate sodales. Vivamus ut nisl non orci rhoncus ultricies a viverra erat. Ut commodo tincidunt ipsum, vel interdum turpis molestie at. Sed id porta leo, eget vulputate diam. Cras gravida pulvinar cursus. Morbi efficitur, elit et dictum feugiat, diam elit lacinia mauris, vitae lobortis elit risus eu tellus. Nam tincidunt vitae elit in tempus. Etiam a maximus tortor. Duis vulputate justo ac varius lacinia. In placerat eros id sapien aliquam sollicitudin. Nulla vel odio vel urna scelerisque scelerisque et eget libero.</p></div>

                        <div class="form-group"
                             th:if="${not #lists.isEmpty(recipe.authors)}">
                            <label class="form-label"
                                   th:text="#{recipe.view.authors.label}">Original Author(s):</label>

                            <ul class="recipe-authors list-unstyled">
                                <li th:each="author: ${recipe.authors}" th:text="${author}">Wikibooks</li>
                            </ul>
                        </div>

                        <div class="recipe-labels"
                             th:remove="all-but-first">
                            <span class="label label-default"
                                  th:each="label: ${recipe.labels}"
                                  th:text="${label}">dessert</span>
                            <span class="label label-default">gluten-free</span>
                            <span class="label label-default">pudding-and-custard</span>
                        </div>

                        <script id="template-delete-recipe-dialog" type="text/x-handlebars-template">
                            <div id="delete-recipe-dialog" class="modal" tabindex="-1" role="dialog"
                                 aria-labelledby="delete-recipe-dialog-title" aria-hidden="true"
                                 data-backdrop="static">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title"
                                                id="delete-recipe-dialog-title"
                                                th:text="#{recipe.deleteDialog.title}">Delete Recipe</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p class="alert alert-info"
                                               th:text="#{recipe.deleteDialog.message}">Please confirm that you want to delete this recipe permanently.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button"
                                                    id="delete-recipe-dialog-delete-button"
                                                    class="btn btn-default"
                                                    th:text="#{recipe.deleteDialog.deleteButton.label}">Delete</button>
                                            <button type="button"
                                                    id="delete-recipe-dialog-cancel-button"
                                                    class="btn btn-link"
                                                    th:text="#{recipe.deleteDialog.cancelButton.label}">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </script>

                    </div>
                </div>
            </div>
        </div>

        <div th:replace="layout/layout :: footer"
             id="footer"
             class="text-center text-muted">
            <p>Cookbook 0.1.0-PROTOTYPE</p>
        </div>

        <script type="text/javascript"
                src="../../../js/recipe/delete-dialog.js"
                th:src="@{/js/recipe/delete-dialog.js}"></script>
        <script type="text/javascript"
                src="../../../js/recipe/view.js"
                th:src="@{/js/recipe/view.js}"></script>
    </body>
</html>
