<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:fragment="head(title)">
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <meta name="base-url" th:attr="content=@{/}"/>
        <meta name="csrf-token" th:attr="content=${_csrf.token}"/>
        <meta name="csrf-header-name" th:attr="content=${_csrf.headerName}"/>
        <meta name="predefined-labels-url"
              content="../../../js/predefined-labels.json"
              th:attr="content=@{/js/predefined-labels.json}"/>
        <meta name="recipe-id" th:attr="content=${recipe?.id}"/>

        <link rel="stylesheet"
              href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css"
              th:href="@{/webjars/bootstrap/3.1.0/css/bootstrap.min.css}"/>
        <link rel="stylesheet"
              href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.css"
              th:href="@{/webjars/bootstrap/3.1.0/css/bootstrap-theme.min.css}"/>
        <link rel="stylesheet"
              href="../../../css/lib/bootstrap-tagsinput.css"
              th:href="@{/css/lib/bootstrap-tagsinput.css}"/>
        <link rel="stylesheet"
              href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
              th:href="@{http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css}"/>
        <link rel="stylesheet"
              href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.5.0/summernote.css"/>
        <link rel="stylesheet"
              href="../../../css/styles.css"
              th:href="@{/css/styles.css}"/>

        <script type="text/javascript"
                src="http://code.jquery.com/jquery-1.11.0.js"
                th:src="@{/webjars/jquery/2.1.0/jquery.min.js}"></script>
        <script type="text/javascript"
                src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"
                th:src="@{/webjars/jquery-ui/1.10.3/ui/minified/jquery-ui.min.js}"></script>
        <script type="text/javascript"
                src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"
                th:src="@{/webjars/bootstrap/3.1.0/js/bootstrap.min.js}"></script>
        <script type="text/javascript"
                src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"
                th:src="@{/webjars/handlebars/1.2.1/handlebars.min.js}"></script>
        <script type="text/javascript"
                src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
        <script type="text/javascript"
                src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.5.0/summernote.js"
                th:src="@{http://cdnjs.cloudflare.com/ajax/libs/summernote/0.5.0/summernote.min.js}"></script>
        <script type="text/javascript"
                th:src="@{/js/lib/bootstrap-tagsinput.min.js}"></script>

        <title th:text="|${title} #{application.page.title.suffix}|">Cookbook</title>
    </head>
    <body>
        <div id="page-wrapper" class="page">
            <div th:fragment="header" id="header">
                <div class="navbar navbar-inverse" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only" th:text="#{header.toggleNavigation.label}">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a class="navbar-brand"
                           href="#"
                           th:href="@{/}"
                           th:text="#{application.title}">Cookbook</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul id="navigation" class="nav navbar-nav">
                            <li>
                                <a href="#"
                                   th:href="@{/}"
                                   th:text="#{recipe.list.title}">Recipes</a>
                            </li>
                        </ul>

                        <a href="#"
                           th:href="@{/recipe/create}"
                           class="btn btn-primary navbar-btn"
                           th:text="#{recipe.list.createButton.label}">Create</a>

                        <ul id="header-user-menu" class="nav navbar-nav navbar-right">
                            <li sec:authorize="isAnonymous()">
                                <a href="#" th:href="@{/login}" th:text="#{header.login.label}">Sign In</a>
                            </li>
                            <li sec:authorize="isAuthenticated()" class="dropdown">
                                <a href="#"
                                   class="dropdown-toggle"
                                   data-toggle="dropdown"
                                   title="Demo user"
                                   th:title="${#authentication.principal.name}">
                                    <span class="glyphicon glyphicon-user"></span>
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li role="presentation"
                                        class="dropdown-header"
                                        th:text="#{header.loggedInAsUser.label(${#authentication.principal.name})}">Demo user</li>
                                    <li role="presentation" class="divider"></li>
                                    <li>
                                        <a href="#" th:href="@{/logout}" th:text="#{header.logout.label}">Sign Out</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div th:fragment="footer" id="footer" class="text-center text-muted">
            <p th:text="#{application.nameAndVersion(${cookbook?.name}, ${cookbook?.version})}">Cookbook 0.1.0</p>
        </div>
    </body>
</html>
