<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <meta name="base-url" th:attr="content=@{/}"/>

        <link rel="stylesheet"
              href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css"
              th:href="@{/webjars/bootstrap/3.1.0/css/bootstrap.min.css}"/>
        <link rel="stylesheet"
              href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.css"
              th:href="@{/webjars/bootstrap/3.1.0/css/bootstrap-theme.min.css}"/>
        <link rel="stylesheet"
              href="../../../css/styles.css"
              th:href="@{/css/styles.css}"/>
        <link rel="stylesheet"
              href="../../../css/login.css"
              th:href="@{/css/login.css}"/>

        <script type="text/javascript"
                src="http://code.jquery.com/jquery-1.11.0.js"
                th:src="@{/webjars/jquery/2.1.0/jquery.min.js}"></script>
        <script type="text/javascript"
                src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"
                th:src="@{/webjars/jquery-ui/1.10.3/ui/minified/jquery-ui.min.js}"></script>
        <script type="text/javascript"
                src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"
                th:src="@{/webjars/bootstrap/3.1.0/js/bootstrap.min.js}"></script>
        <script type="text/javascript"
                src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"
                th:src="@{/webjars/handlebars/1.2.1/handlebars.min.js}"></script>

        <title th:text="|#{login.title} #{application.page.title.suffix}|">Sign In &ndash; Cookbook</title>
    </head>
    <body>
        <div id="page-wrapper" class="page">
            <div th:fragment="header" id="header">
                <div class="navbar navbar-inverse" role="navigation">
                    <div class="navbar-header">
                        <a class="navbar-brand"
                           href="#"
                           th:href="@{/}"
                           th:text="#{application.title}">Cookbook</a>
                    </div>
                </div>
            </div>
        </div>
        <div th:fragment="footer" id="footer" class="text-center text-muted">
            <p th:text="#{application.nameAndVersion(${cookbook.name}, ${cookbook.version})}">Cookbook 0.1.0</p>
        </div>
    </body>
</html>
