<div class="page-wrapper">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#/recipes"
                   translate="recipe.list.title"></a></li>
            <li><a href="#/recipes/biscuits">{{recipe.name}}</a></li>
            <li class="active" translate="recipe.edit.breadcrumb.label"></li>
        </ol>

        <h1 class="display-4"
            translate="recipe.edit.title"
            translate-values="{name: recipe.name}"></h1>
        <hr class="m-y-2">

        <recipe-form recipe="recipe"></recipe-form>

        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-10">
                <a href="#/recipes/biscuits"
                   class="btn btn-link"
                   translate="cancelButton.label"></a>
                <button class="btn btn-primary"
                        translate="submitButton.label"></button>
            </div>
        </div>
    </div>
</div>
