<form name="editRecipeForm">
    <div class="alert alert-danger" ng-repeat="message in messages">
        {{message.message}}
    </div>

    <div class="form-group row required"
         ng-class="{'has-danger': hasError('name')}">
        <label class="col-sm-2 form-control-label"
               for="recipe-name"
               translate="recipe.edit.name.label"></label>
        <div class="col-sm-10">
            <input class="form-control"
                   id="recipe-name"
                   name="name"
                   type="text"
                   required
                   ng-model="recipe.name"/>
            <p class="help-block text-danger"
               ng-show="hasError('name', 'required')"
               translate="recipe.edit.error.name.required">
            </p>
            <p class="help-block text-danger"
               ng-show="hasError('name') && !hasError('name', 'required')"
               translate="recipe.edit.error.invalidValue"></p>
        </div>
    </div>

    <div class="form-group row"
         ng-class="{'has-danger': hasError('summary')}">
        <label class="col-sm-2 form-control-label"
               for="recipe-summary"
               translate="recipe.edit.summary.label"></label>
        <div class="col-sm-10">
            <textarea class="form-control"
                      id="recipe-summary"
                      name="summary"
                      rows="5"
                      ng-model="recipe.summary"></textarea>
            <p class="help-block text-danger"
               ng-show="hasError('summary')"
               translate="recipe.edit.error.invalidValue"></p>
        </div>
    </div>

    <div class="form-group row"
         ng-class="{'has-danger': hasError('yield')}">
        <label class="col-sm-2 form-control-label"
               for="recipe-yield"
               translate="recipe.edit.yield.label"></label>
        <div class="col-sm-10">
            <input class="form-control"
                   id="recipe-yield"
                   name="yield"
                   type="text"
                   ng-model="recipe.yield"/>
            <p class="help-block text-danger"
               ng-show="hasError('yield')"
               translate="recipe.edit.error.invalidValue"></p>
        </div>
    </div>

    <div class="form-group row"
         ng-class="{'has-danger': hasError('authors')}">
        <label class="col-sm-2 form-control-label"
               for="recipe-authors"
               translate="recipe.edit.authors.label"></label>
        <div class="col-sm-10">
            <textarea class="form-control"
                      id="recipe-authors"
                      name="authors"
                      ng-model="recipe.authors"></textarea>
            <small class="help-block text-muted"
                   translate="recipe.edit.authors.help.message"></small>
            <p class="help-block text-danger"
               ng-show="hasError('authors')"
               translate="recipe.edit.error.invalidValue"></p>
        </div>
    </div>

    <div class="form-group row"
         ng-class="{'has-danger': hasError('labels')}">
        <label class="col-sm-2 form-control-label"
               for="recipe-labels"
               translate="recipe.edit.labels.label"></label>
        <div class="col-sm-10">
            <input class="form-control"
                   id="recipe-labels"
                   name="labels"
                   type="text"
                   ng-model="recipe.labels"/>
            <p class="help-block text-danger"
               ng-show="hasError('labels')"
               translate="recipe.edit.error.invalidValue"></p>
        </div>
    </div>

    <div class="form-group row"
         ng-class="{'has-danger': hasError('instructions')}">
        <label class="col-sm-2 form-control-label"
               for="recipe-instructions"
               translate="recipe.edit.instructions.label"></label>
        <div class="col-sm-10">
            <textarea class="form-control"
                      id="recipe-instructions"
                      name="instructions"
                      rows="20"
                      ng-model="recipe.instructions"></textarea>
            <span class="help-block text-danger"
                  ng-show="hasError('instructions')"
                  translate="recipe.edit.error.invalidValue"></span>
        </div>
    </div>
</form>
