<div class="page-wrapper">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#/recipes"
                   translate="recipe.list.title"></a></li>
            <li class="active">{{recipe.name}}</li>
        </ol>

        <div>
            <div class="btn-group pull-right"
                 role="group"
                 aria-label="Recipe actions">
                <a href="#/recipes/biscuits/edit"
                        class="btn btn-secondary">
                    <span class="fa fa-pencil"></span>
                    {{'recipe.view.editButton.label' | translate}}
                </a>
                <button type="button"
                        class="btn btn-secondary"
                        data-toggle="modal"
                        data-target="#delete-recipe-modal"
                        translate="recipe.view.deleteButton.label"></button>
            </div>

            <h1 class="display-4">{{recipe.name}}</h1>

            <hr>

            <ul class="list-inline text-muted">
                <li class="list-inline-item"
                    ng-if="createdText"
                    ng-bind-html="createdText"
                    tooltip="{{recipe.created | dateTime }}"></li>
                <li class="list-inline-item"
                    ng-if="modifiedText"
                    ng-bind-html="modifiedText"
                    tooltip="{{recipe.modified | dateTime }}"></li>
            </ul>
        </div>

        <p class="lead recipe-summary" ng-if="recipe.summary">{{recipe.summary}}</p>

        <p class="recipe-yield ng-if="recipe.yield">{{recipe.yield}}</p>

        <div class="recipe-instructions" ng-bind-html="recipe.instructions"></div>

        <div class="form-group" ng-if="recipe.authors">
            <label translate="recipe.view.authors.label"
                   translate-values="{numberOfAuthors: recipe.authors.length}"
                   translate-interpolation="messageformat"></label>
            <div>
                <ul class="list-unstyled">
                    <li ng-repeat="author in recipe.authors">{{author}}</li>
                </ul>
            </div>
        </div>

        <recipe-labels labels="recipe.labels"></recipe-labels>

        <div class="modal fade"
             id="delete-recipe-modal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="delete-recipe-label"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="{{'modal.close.label' | translate}}">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title"
                            id="delete-recipe-label"
                            translate="recipe.deleteDialog.title"></h4>
                    </div>
                    <div class="modal-body">
                        <p class="alert alert-info"
                           translate="recipe.deleteDialog.message"
                           translate-values="{name: recipe.name}"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-link"
                                data-dismiss="modal"
                                translate="recipe.deleteDialog.cancelButton.label"></button>
                        <button type="button"
                                class="btn btn-primary"
                                translate="recipe.deleteDialog.deleteButton.label"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
