<div class="page-wrapper">
    <div class="container">
        <h1 class="display-4" translate="recipe.list.title"></h1>

        <hr class="m-y-2">

        <div class="m-b-1">
            <div class="input-group">
                <input type="text"
                       placeholder="{{'recipe.list.searchField.placeholder' | translate}}"
                       class="form-control"
                       ng-model="query">
                <span class="input-group-btn">
                    <button class="btn btn-default search-button"
                            type="button"
                            translate-tooltip
                            data-placement="bottom"
                            title="recipe.list.searchButton.title">
                        <span class="fa fa-search"></span>
                    </button>
                </span>
            </div>
        </div>

        <div>
            <p ng-if="!recipes.totalElements" translate="recipe.list.noRecipesFound.label"></p>

            <div class="card-columns">
                <a href="#/recipes/biscuits" class="card card-block" ng-repeat="recipe in recipes.items">
                    <h4 class="card-title">{{recipe.item.name}}</h4>

                    <p class="card-text">{{recipe.item.summary}}</p>

                    <recipe-labels labels="recipe.item.labels"></recipe-labels>
                </a>
            </div>
        </div>
    </div>
</div>
