<!DOCTYPE html>
<html lang="en"
      th:attr="lang = ${#locale.language}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/login-layout :: head">
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="../../../css/styles.css"/>
        <link rel="stylesheet" href="../../../css/login.css"/>

        <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
        <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>

        <title>Sign In &ndash; Cookbook</title>
    </head>
    <body>
        <div th:replace="fragments/accessibility :: skip-to-main-content"></div>

        <div id="header">
            <div class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand"
                       href="#"
                       th:href="@{/}"
                       th:text="#{application.title}">Cookbook</a>
                </div>
            </div>
        </div>

        <div class="container" id="content" tabindex="-1">
            <div id="login-panel" class="panel panel-default">
                <div class="panel-body">
                    <div class="page-header">
                        <h3 th:text="#{login.title}">Sign In</h3>
                    </div>

                    <div class="alert alert-info alert-dismissable fade in"
                         th:if="${welcomeMessage}">
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>

                        <h4 th:text="${welcomeMessage.title}">Welcome to Cookbook Demo!</h4>

                        <th:block th:utext="${welcomeMessage.content}">
                            <p>Please log in using the following credentials:</p>

                            <dl class="dl-horizontal">
                                <dt>Username:</dt>
                                <dd>user</dd>
                                <dt>Password:</dt>
                                <dd>user</dd>
                            </dl>

                            <p>The database is restored automatically each hour sharp.</p>
                        </th:block>
                    </div>

                    <div class="alert alert-danger"
                         th:if="${error}">
                        <p th:text="#{login.error.message}">Incorrect username or password. Please try again.</p>
                    </div>

                    <div class="alert alert-success alert-dismissable fade in"
                         th:if="${logout}">
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <p th:text="#{login.loggedout.message}">You have been successfully logged out.</p>
                    </div>

                    <form action="../recipe/list.html"
                          th:action="@{/dologin}"
                          class="form-horizontal"
                          role="form"
                          method="POST"
                          accept-charset="UTF-8">
                        <input type="hidden"
                               name="csrf-token"
                               th:attr="name=${_csrf.parameterName}"
                               th:value="${_csrf.token}"/>

                        <div class="form-group">
                            <label for="login-username"
                                   class="col-sm-3 control-label"
                                   th:text="#{login.username.label}">Username:</label>

                            <div class="col-sm-6">
                                <input type="text" id="login-username" name="username" autofocus="autofocus" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="login-password"
                                   class="col-sm-3 control-label"
                                   th:text="#{login.password.label}">Password:</label>

                            <div class="col-sm-6">
                                <input type="password" id="login-password" name="password" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-3">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="remember-me"/>
                                        <th:block th:text="#{login.rememberme.label}">Remember me</th:block>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-buttons col-sm-6 col-sm-offset-3">
                            <button id="login-button"
                                    type="submit"
                                    class="btn btn-primary"
                                    th:text="#{login.loginButton.label}">Sign In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div th:replace="layout/login-layout :: footer"
             id="footer"
             class="text-center text-muted">
            <p>Cookbook 0.1.0</p>
        </div>
    </body>
</html>
