<div class="sign-in container">
    <div class="card">
        <div class="card-block">
            <h3 translate="signin.title"></h3>

            <hr class="m-y-2">

            <div class="alert alert-info alert-dismissable fade in"
                 role="alert" ng-if="welcomeMessage">
                <button type="button"
                        class="close"
                        data-dismiss="alert"
                        aria-label="{{'alert.dismiss.label' | translate}}">
                    <span aria-hidden="true">&times;</span>
                </button>

                <h5>{{welcomeMessage.title}}</h5>

                <div ng-bind-html="welcomeMessage.content"></div>
            </div>

            <div class="alert alert-danger"
                 ng-if="signInError"
                 translate="signin.error.message"></div>

            <div class="alert alert-success alert-dismissable fade in"
                 role="alert" ng-if="signedOut">
                <button type="button"
                        class="close"
                        data-dismiss="alert"
                        aria-label="{{'alert.dismiss.label' | translate}}">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{'signin.signedOut.message' | translate}}
            </div>

            <form>
                <div class="form-group row">
                    <label for="login-username"
                           class="col-sm-4 form-control-label"
                           translate="signin.username.label"></label>
                    <div class="col-sm-8">
                        <input type="text"
                               id="login-username"
                               name="username"
                               autofocus="autofocus"
                               class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="login-password"
                           class="col-sm-4 form-control-label"
                           translate="signin.password.label"></label>

                    <div class="col-sm-8">
                        <input type="password"
                               id="login-password"
                               name="password"
                               class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-8 col-sm-offset-4">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                       name="remember-me">
                                {{'signin.rememberme.label' | translate}}
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-8 col-sm-offset-4">
                        <button class="btn btn-primary"
                                ng-click="signIn()"
                                translate="signin.submitButton.label"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
