<!DOCTYPE html>
<html lang="en" ng-app="cookbook">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cookbook</title>

    <link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="ApplicationController">
    <a href="#content"
       class="sr-only sr-only-focusable"
       translate="sr.skipToMainContent"></a>

    <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
        <a class="navbar-brand" href="#" translate="application.title"></a>
        <ul class="nav navbar-nav" ng-if="authenticated">
            <li class="nav-item active">
                <a class="nav-link" href="#/recipes">{{'recipe.list.title' | translate}} <span
                        class="sr-only" translate="sr.currentItem"></span></a>
            </li>
            <li class="nav-item">
                <a href="#/recipes/create"
                   class="btn btn-primary"
                   translate="recipe.list.createButton.label"></a>
            </li>
        </ul>

        <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item" ng-if="!authenticated">
                <a class="nav-link" href="#" translate="header.signin.label"></a>
            </li>
            <li class="nav-item dropdown" ng-if="authenticated">
                <a class="nav-link dropdown-toggle"
                   data-toggle="dropdown"
                   role="button"
                   aria-haspopup="true"
                   aria-expanded="false"
                   title="{{currentUser.name}}">
                    <span class="fa fa-user"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <h6 class="dropdown-header">{{currentUser.name}}</h6>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item"
                       href="#"
                       ng-click="signOut()"
                       translate="header.signout.label"></a>
                </div>
            </li>
        </ul>
    </nav>

    <div id="content" ng-view autoscroll></div>
</div>

<footer class="text-muted text-xs-center m-y-2">
    <span translate="application.nameAndVersion" translate-values="{version: '0.1'}"></span>
</footer>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/tether/dist/js/tether.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/messageformat/messageformat.js"></script>
<script src="bower_components/messageformat/locale/fi.js"></script>
<script src="bower_components/moment/min/moment-with-locales.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/angular-translate-interpolation-messageformat/angular-translate-interpolation-messageformat.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<script src="app.js"></script>
<script src="sign-in/sign-in.js"></script>
<script src="recipes/recipes.js"></script>
</body>
</html>
